$cyan-100: #b2ebf2;
$cyan-300: #4dd0e1;
$cyan-600: #00acc1;
$cyan-800: #00838f;
$black: #1a1a1a;
$green: #20db2c;

$font: "Roboto";

$font-regular: 400;
$font-semi-bold: 500;
$font-bold: 700;
$font-extra-bold: 900;
